<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/styles/styles.css">
</head>
<body>
<div class="container">
    <div class="welcome-container">
        <h1>Welcome to the Billiards Store!</h1>
        <p>Manage your staff, inventory, and more.</p>
        <a href="/logout" class="btn logout-btn">Logout</a>
    </div>
</div>
</body>
</html>
